.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vs/*
.history/

node_modules/
data/
dist/

src/modules/empirebot/

src/menus/

src/config.ts
settings.json